body {
	text-align: center;
	background: url("../images/background.jpg")no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: 'Sansita', sans-serif;
}

/*general*/
.panel {
	background-color: #f2e6ff;
}

.panel-default .panel-heading{
	background-color:  #5900b3;
	color: #fff;
}

/*header*/
.page-header {
	border-bottom: none;
}

h1 {
	font-size: 48px;
}

/*Display box*/
#word-display{
	padding-top: 72px;
	padding-bottom: 72px;
}

h3{
	font-size: 52px;
}